.tinder__side {
    min-width: 325px;
    max-width: 375px;
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(232, 232, 232);
    .tinder__side__info__box {
        flex: 1;
    }
}

.tinder__side__navbar {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    box-shadow: 0px 14px 11px -14px rgba(0,0,0,0.35);
    background: linear-gradient( 262deg ,#ff7854,#fd267d);
    .MuiButtonBase-root {
        padding: 0px !important;
    }
}

.tinder__side__name {
    font-size: 23px;
    color: white;
    font-weight: lighter;
}
.tinder__side__avatar {
    border: 2px solid white;
    margin-right: 1rem;
}

.tinder__side__meetingbox {
    background-color: transparent;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.535);
    border-radius: 50%;
    width: 40px;
    height: 35px;
    &:focus {
        outline: none;
    }
}
    
.tinder__side__meeting {
    color: white;
}

.tinder__side__info {
    width: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    border: none;
    .MuiAvatar-root {
        width: 35px !important;
        height: 35px !important;
    }
    .MuiAvatar-colorDefault {
        background-color: salmon !important;
    }
    &:focus {
        outline: none;
    }
}

.tinder__side__info__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: transparent;
    // align-items: center;
    border: none;
    #simple-tabpanel-1 {
        flex: 1;
    }
}

.swipe-tabs {
    min-height: unset !important;
    padding: 0px 1.2rem !important;
    
    div {
        div {
            .MuiTab-root {
                min-height: unset;
                font-size: 15.5px;
                text-transform: unset;
                margin-right: 10px;
                
                span {
                    font-weight: bold;
                }
            }
            .MuiButtonBase-root {
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
        .PrivateTabIndicator-root-1 {
            height: 3px !important;
        }
        .PrivateTabIndicator-colorSecondary-3 {
            background-color: #FD5068;
        }
    }
}

.WLY-Container {
    // background-color: white;
    width: 95px;
    height: 120px;
    padding: 2px;
    border-radius: 5px !important;
    transition: width .2s ease;
    transition: height .2s ease;
    position: relative;
    // border: none !important;
    &:hover {
        cursor: pointer;
    }
    border: 3.5px solid #E9AA43;
}

.WLY-pic-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px !important;
    // position: relative;
    
    .WLY-pic {
        width: 100%;
        height: 100%;
        filter: blur(10px);
        background-position: center;
        background-size: cover;
        // position: relative;
    }
}

.WLY-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0%;
    left: 0%;
}

.WLY-info {
    position: relative;
    height: 100%;
    width: 100%;
}

.WLY-like-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 13px;
    color: white;
    font-weight: 700;
    background: rgb(2,0,36);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgb(221, 138, 12) 0%, rgba(240,197,104,1) 100%);    
    top: 30%;
    left: 28%;
}

.WLY-goldenheart {
    position: absolute;
    bottom: -8%;
    left: 27%;
    width: 30px;
    height: 18px;
    object-fit: cover;
    img {
        width: 100%;
        height: 100%;
    }
}

.WLY-likes {
    position: absolute;
    font-size: 12px;
    color: white;
    font-weight: 700;
    bottom: 8%;
    left: 10%;
}

.messages-tab {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-size: 23px;
        font-weight: 600;
    }
}

.greetings {
    padding: 0px 2rem;
    font-size: 1.1rem;
    color: #5c5c5c;
    text-align: center;
}



@media (min-width: 600px) {
    // .tinder__side {
    //     background-color: rgb(255, 255, 255);
    // }
    .swipe-tabs {
        .MuiTab-root {
            min-width: unset;
        }
    }
    
}
@media (max-width: 1200px) {
    .tinder__side {
        background-color: white;
    }
}
@media (max-width: 1025px) {
    .WLY-Container{
        transition: width .2s ease;
        transition: height .2s ease;
        width: 150px;
        height: 200px;
    }
    .WLY-goldenheart {
        left: 35%;
        bottom: -5%;
    }

    .WLY-like-number {
        top: 40%;
        left: 35%;
        width: 38px;
        height: 38px;
    }

    .WLY-likes {
        bottom: 5%;
    }

    .tinder__side__navbar {
        height: 60px;
    }

    .tinder__side__name {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .tinder__side {
        display: none;
        opacity: 0;
        min-width: 0px;
        width: 0px;
    }
}